<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Text to Gif</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="container">
            <h1>Transfer your thoughts to images</h1>
            <p>Tell us what you are thinking and get nice gif images</p>
            <div class="gif--translate">
                <h4>Get your nice Gif images with one step</h4>
                <!-- <form action="/gif/retrieve" method="POST"></form> -->
                    <input type="text" placeholder="Enter Gif keyword" name="keyword">
                    <button class="btn">Search</button>
            
                <div class="gif">
                    
                </div>
                
            </div>
            <div class="gif--search">
                <table class="gif--search search--table">
                    <tr class="search--row">

                    </tr>
                </table>
            </div>
        </div>

    </body>
    <script src="../js/index.js"></script>
</html>