<!DOCTYPE html> 
<html>
    <head>
        <title>Text to Gif</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="container">
            <h4>Welcome to your Text to Gif app</h4>
            <!-- <form action="/gif/retrieve" method="POST"></form> -->
                <input type="text" placeholder="Enter Gif keyword" name="keyword">
                <button class="btn">Search</button>
           
            <div class="gif">
                
            </div>
            
        </div>
    </body>
    <script src="../js/index.js"></script>
</html>