<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message</title>
    <link rel="stylesheet" href="../css/message.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
</head>
<body>
    <div class="container">
        <div class="message message--col-md-4 message__warning">
            <div class="message--inner message__center">
                <h2 class="">Warning <span class="message__emoji"> &#128556;</span></h2>
                <p class="message--detail">
                    Your device storage is almost full. 
                    If you choose to proceed, you might have to delete some games.
                </p>
                <button class="message--btn">
                    <span class="message--btn--text"> I understand</span>
                </button>
            </div>
        </div>
        <div class="message message--col-md-4 message__error">
            <div class="message--inner message__center">
                <h2 class="">Upate error <span class="message__emoji"> &#128561;</span></h2>
                <p class="message--detail">
                    The internet connection was interrupted. 
                    The receiver will not receive a notification. Please try again.
                </p>
                <button class="message--btn">
                    <span class="message--btn--text"> Try again</span>
                </button>
            </div>
            
        </div>
        <div class="message message--col-md-4 message__success">
            <div class="message--inner message__center">
                <h2 class="">Update successful! <span class="message__emoji"> &#128522;</span></h2>
                <p class="message--detail">
                    Your shipment records have been uploaded and the receiver has been sent a notification. Nice!
                </p>
                <button class="message--btn">
                    <span class="message--btn--text"> Okay</span>
                </button>
            </div>
            
        </div>
    </div>
</body>
</html>