body{
    background: green;
}
.container{
    width: 40%;
    min-height: 500px;
    background: rgb(255, 255, 255);
    float: right;
    border: 2px dotted #000000;
    border-radius: 10px;
}
.gif{
    margin: 0 auto;
    height: 500px;
    width: 90%;
}
.translateGif{
    width: 100%;
    height: 100%;
    
}
.copyDiv {
    position: absolute;
    display: inline-block;
  }
  
  .copyDiv .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .copyDiv .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .copyDiv:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.url{

}